body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #38A2EE;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #38A2EE;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #48B2FE;
}

.row {
    padding-top: 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

h2 {
    margin-top: 0px;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f5f5f5;
}

.bg-darkest-gray {
    background-color: #222;
}

.btn-primary {
    border-color: #38A2EE;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #fff;
    background-color: #38A2EE;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #48B2FE;
    color: #fff;
    background-color: #48B2FE;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #38A2EE;
    background-color: #38A2EE;
}

.btn-primary .badge {
    color: #38A2EE;
    background-color: #fff;
}

.btn-xl {
    margin-bottom: 20px;
    max-width: 100%;
    padding: 20px 15px;
    border-color: #38A2EE;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #38A2EE;
    word-wrap: break-word;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #48B2FE;
    color: #fff;
    background-color: #48B2FE;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #38A2EE;
    background-color: #38A2EE;
}

.btn-xl .badge {
    color: #fed136;
    background-color: #fff;
}

.navbar-default {
    border-color: transparent;
    background-color: #222;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #38A2EE;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #48B2FE;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle {
    border-color: #38A2EE;
    background-color: #38A2EE;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #38A2EE;
}

.navbar-default .nav li a,
.navbar-default .nav li span {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
}

.navbar-default .nav li {
    text-align: center;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #38A2EE;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #38A2EE;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #48B2FE;
}

@media(min-width:1200px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #222;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar-logo-image {
    width: 180px;
    margin-top: -15px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 3px 12px -5px rgba(0, 0, 0, .7);
}

@media(min-width:768px) {
    .btn-xl {
        padding: 20px 40px;
        width: auto;
    }
    .navbar-logo-image {
        margin-top: -30px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 3px 12px -5px rgba(0, 0, 0, .7);
    }
}

section {
    text-align: center;
}

section h2.section-heading {
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 0 0;
    }
    .row {
        padding-top: 15px;
    }
}

#services .services-item {
    right: 0;
    margin: 0 0 15px;
}

#services .services-item .services-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#services .services-item .services-link .services-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #38A2EE;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#services .services-item .services-link .services-hover:hover {
    opacity: 1;
}

#services .services-item .services-link .services-hover .services-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#services .services-item .services-link .services-hover .services-hover-content i {
    margin-top: -12px;
}

#services .services-item .services-link .services-hover .services-hover-content h3,
#services .services-item .services-link .services-hover .services-hover-content h4 {
    margin: 0;
}

#services .services-item .services-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#services .services-item .services-caption h4 {
    margin: 0;
    text-transform: none;
}

#services .services-item .services-caption p {
    margin: 0;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

#services * {
    z-index: 2;
}

@media(min-width:767px) {
    #services .services-item {
        margin: 0 0 30px;
    }
}

footer {
    padding: 25px 0;
    text-align: center;
    font-weight: 600;
}

footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #38A2EE;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #38A2EE;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}


/*.port-img { height: 200px; }*/

.modal-text-left {
    text-align: left;
}

.services-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.services-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.services-modal .modal-content p {
    /*margin-bottom: 30px;*/
}

.services-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
}

.services-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.services-modal .modal-content img {
    margin-bottom: 30px;
}

.services-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.services-modal .close-modal:hover {
    opacity: .3;
}

.services-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.services-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

::-moz-selection {
    text-shadow: none;
    background: #38A2EE;
}

::selection {
    text-shadow: none;
    background: #38A2EE;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #38A2EE;
}
.services-cover {
    width: 100%;
    margin: 0;
    background: #38A2EE;
    color: white;
}